<h1>Songs Form!</h1>
<%= form_for @song do |f| %>
    <%= f.text_field :name %>
    <%= f.number_field :artist_id %>
    <%= f.number_field :genre_id %>
    <%= f.submit (@s == 'new' ? 'Create Song' : 'Update Song') %>
<% end%>